<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>main page with everything</title>
</head>
<body>

<h1>HELLO OBAMA!</h1>

<p th:text="${bloknote}"></p>
<!--<p th:text="${bloknote.id}"></p>-->
<!--<p th:text="${bloknote.note}"></p>-->
<!--<p th:text="${bloknote.author}"></p>-->


<h1>here your notes mazafaka</h1>
<table th:border="1" th:cellpadding="10">
    <tr th:each="bl : ${bloknote}">
        <td th:text="${bl.id}">..</td>
        <td th:text="${bl.note}">..</td>
        <td th:text="${bl.author}">..</td>
    </tr>
</table>






</body>


</body>
</html>